h1 {
    font-weight: 500;
    font-size: 150px;
    /* pwede 8vw */
    /* width: fit-content; */
    
}

h2, h3, h4, h5, h6, p{
    font-weight: 300;
    
}

.social{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0px;
    
}

.social a {
    font-size: 22px;
    width: 45px;
    height: 45px;
    line-height: 39px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid grey;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.4);
    margin: 10px;
    color: #fff;
    opacity: 0.7;
    transition: 0.3s ease-in-out;
}

/* .nav-wrapper .container ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.nav-wrapper .container ul li:hover::after{
    width: 100%;
} */

/* .stock-link{
    font-weight: 120;
    font-size: 13px;
}

.adobe-stock{
    position: sticky;
    top: 0px;
}

.stock-link-small{
    font-weight: 120;
    font-size: 9px;
    margin-left: 35px;
    
}

.stock-img{
    margin: 20px 0px 10px;
} */


